.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    }
    
    .navbar-spacer {
        flex: 1 1 auto;
    }
    
    .navbarLeft{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 8px;
        gap: 10px;
        h1{
            margin: 0;
        }
    }
    
    .cardElements {
        flex: 1 0 21%; /* explanation below */
        margin: 8px;
        max-width:360px;
    }
    .svg-logo-icon{
        height: 47.7px;
    }
    
    .card-header-image {
        background-size: cover;
    }
    
    .app-container{
        display: flex;
        gap: 10px;
    }
    
    :host ::ng-deep{
        .mat-mdc-card-content {
            padding: 16px;
        }
    }
    